<header class="header">
  <div class="container header-div">
    <nav class="header-nav">
      <a class="logotype" href="../index.html"
        ><span class="logo-chocolate"><i>SIMPLY</i></span
        >CHOCOLATE
        <svg class="logotyp-icon" aria-label="simply chocolate logotyp icon">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li>
          <a class="header-link" href="">Home</a>
        </li>
        <li>
          <a class="header-link" href="">How it &#787; s made?</a>
        </li>
        <li>
          <a class="header-link" href="">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social flex">
      <li>
        <a class="header-link-icon" href="">
          <svg
            class="social-icon"
            width="24"
            height="24"
            aria-label="link instagram icon"
          >
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="header-link-icon" href="">
          <svg
            class="social-icon"
            width="24"
            height="24"
            aria-label="link twitter icon"
          >
            <use href="../img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="header-button-burger">
      <svg class="burger-icon" width="24" height="24">
        <use href="../img/sprite.svg#icon-mobile-burger"></use>
      </svg>
    </button>
  </div>
</header>
