<section class="taste-sensation">
  <div class="container">
    <h2 class="taste-title">
      it all adds up to one exceptional
      <span class="taste-span">taste</span> sensation
    </h2>
    <p class="taste-paragraf">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="taste-ul">
      <li class="taste-list">
        <img
          class="taste-img"
          srcset="
            ./img/img-card/1-kisspng-milk-224w.png    224w,
            ./img/img-card/1-kisspng-milk-206w.png    206w,
            ./img/img-card/1-kisspng-milk-448w@2x.png 448w,
            ./img/img-card/1-kisspng-milk-412w@2x.png 412w
          "
          sizes="(min-width: 1136px) 206px, (max-width: 1135px) 224px"
          src="./img/img-card/1-kisspng-milk-224w.png"
          alt=""
        />
        <h3 class="taste-card-title">milk chocolate</h3>
        <div class="overlay">
          <h3 class="card-window-title">Milk chocolate</h3>
          <ul class="card-window-list">
            <li class="card-list">
              <p class="card-text">chocolate</p>
            </li>
            <li class="card-list">
              <p class="card-text">the benefits</p>
            </li>
          </ul>
          <p class="card-window-paragraf">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>

      <li class="taste-list">
        <img
          class="taste-img"
          srcset="
            ./img/img-card/2-kisspng-milk-224w.png    224w,
            ./img/img-card/2-kisspng-milk-206w.png    206w,
            ./img/img-card/2-kisspng-milk-448w@2x.png 448w,
            ./img/img-card/2-kisspng-milk-412w@2x.png 412w
          "
          sizes="(min-width: 1136px) 206px, (max-width: 1135px) 224px"
          src="./img/img-card/2-kisspng-milk-224w.png"
          alt=""
        />
        <h3 class="taste-card-title">milk</h3>
        <div class="overlay">
          <h3 class="card-window-title">Milk</h3>
          <ul class="card-window-list">
            <li class="card-list">
              <p class="card-text">milk</p>
            </li>
            <li class="card-list">
              <p class="card-text">the benefits</p>
            </li>
          </ul>
          <p class="card-window-paragraf">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system.
          </p>
        </div>
      </li>
      <li class="taste-list">
        <img
          class="taste-img"
          srcset="
            ./img/img-card/3-kisspng-milk-224w.png    224w,
            ./img/img-card/3-kisspng-milk-206w.png    206w,
            ./img/img-card/3-kisspng-milk-448w@2x.png 448w,
            ./img/img-card/3-kisspng-milk-412w@2x.png 412w
          "
          sizes="(min-width: 1136px) 206px, (max-width: 1135px) 224px"
          src="./img/img-card/3-kisspng-milk-224w.png"
          alt=""
        />
        <h3 class="taste-card-title">nuts</h3>
        <div class="overlay">
          <h3 class="card-window-title">Nuts</h3>
          <ul class="card-window-list">
            <li class="card-list">
              <p class="card-text">nuts</p>
            </li>
            <li class="card-list">
              <p class="card-text">the benefits</p>
            </li>
          </ul>
          <p class="card-window-paragraf">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They &#787; re a good source of fiber, healthy fats, and
            plant protein. Plus, they &#787; re great on their own.
          </p>
        </div>
      </li>
      <li class="taste-list">
        <img
          class="taste-img"
          srcset="
            ./img/img-card/4-kisspng-milk-224w.png    224w,
            ./img/img-card/4-kisspng-milk-206w.png    206w,
            ./img/img-card/4-kisspng-milk-448w@2x.png 448w,
            ./img/img-card/4-kisspng-milk-412w@2x.png 412w
          "
          sizes="(min-width: 1136px) 206px, (max-width: 1135px) 224px4"
          src="./img/img-card/4-kisspng-milk-224w.png"
          alt=""
        />
        <h3 class="taste-card-title">semi - sweet chocolate</h3>
        <div class="overlay">
          <h3 class="card-window-title">semi - sweet chocolate</h3>
          <ul class="card-window-list">
            <li class="card-list">
              <p class="card-text">sweet chocolate</p>
            </li>
            <li class="card-list">
              <p class="card-text">the benefits</p>
            </li>
          </ul>
          <p class="card-window-paragraf">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
