/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./task-1.css');
@import url('./task-2.css');
@import url('./task-3.css');
@import url('./task-4.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #111111;
  --violet: #1e1823;
  --orange: #fd9222;
  --beige: #fcf1e0;
  --fafa: #fafafa;
  --white: #fff;
  --text: rgba(255, 255, 255, 0.7);
}
