.header {
  padding: 20px 0;
}

.logotype {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.03em;
}
.logo-chocolate {
  font-style: italic;
  margin-right: 5px;
}

.logotyp-icon {
  margin-left: 4px;
  width: 21px;
  height: 21px;
}
.burger-icon {
  stroke: var(--black);
}

.header-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-button-burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-list {
  display: none;
}

.header-social {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-button-burger {
    display: none;
  }
  .logotype {
    font-size: 18px;
    line-height: 1.11;
  }
  .logotyp-icon {
    width: 24px;
    height: 24px;
  }
  .header-list {
    display: flex;
  }

  .header-social {
    display: flex;
    line-height: 0;
    column-gap: 18px;
  }
  .header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 48px;
  }
  .header-list {
    display: flex;
    column-gap: 24px;
  }
  .header-link {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.02em;
    color: var(--black);
    transition: color 250ms linear;
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--orange);
  }
  .social-icon {
    fill: none;
    stroke: var(--black);
    transition: stroke 250ms linear;
  }
  .header-link-icon:hover .social-icon,
  .header-link-icon:focus .social-icon {
    stroke: var(--orange);
  }
}
@media only screen and (min-width: 1136px) {
  .header-nav {
    margin-right: 90px;
  }
}
