.hero-section {
  padding-bottom: 60px;
}
.hero-div {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding-bottom: 21px;
  background-color: var(--violet);
}
@media only screen and (max-width: 767px) {
  .hero-div {
    max-width: 335px;
    padding-top: 395px;

    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/img-covered/chocolate-covered.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-div {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('../img/img-covered/chocolate-covered@2x.jpg');
    }
  }
}

.hero-paragraf {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--white);
  width: 290px;
  margin-bottom: 32px;
}

.hero-list-button {
  display: flex;
  column-gap: 14px;
  margin-bottom: 32px;
}
.hero-button-buy {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  min-height: 41px;
  padding: 12px 28px 12px 28px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0em;

  background-color: var(--orange);
  color: var(--white);
}
.hero-button-made {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0em;
  min-height: 41px;
  padding: 12px 28px 12px 28px;
  border-radius: 100px;
  border: 1px;
  background-color: transparent;
  color: var(--white);
  border-color: var(--white);
  border: solid 1px;
}

.hero-scrol-paragraf-div {
  display: flex;
  align-items: center;
}

.hero-scrol-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--white);
  border-radius: 50%;
  margin-left: 14px;
}
.hero-link-scrol {
  display: flex;
  align-items: center;
  line-height: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.03em;
  margin-right: 12px;
  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 40px;
  }
  .hero-button-and-scrol {
    display: flex;
    justify-content: space-between;
  }
  .hero-paragraf {
    width: 484px;
    font-size: 28px;
    line-height: 1.21; /* 121.429% */
    letter-spacing: -0.03em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1135.99px) {
  .hero-div {
    max-width: 624px;
    padding: 671px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/img-covered/chocolate-covered-table.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-div {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('../img/img-covered/chocolate-covered--table@2x.jpg');
    }
  }
}

@media only screen and (min-width: 1136px) {
  .hero-section {
    padding-bottom: 72px;
  }
  .hero-div {
    max-width: 1056px;
    padding: 381px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../img/img-covered/chocolate-covered-laptop.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-div {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('../img/img-covered/chocolate-covered-laptop@2x.jpg');
    }
  }
}
